<%- include("partials/header") -%>

<h1>Home</h1>

<p><%=home %></p>

<% console.log(postText); %>
<% postText.forEach(function(posts) { %>
   <h1><%= posts.title %></h1>
   <p><%= posts.content.substring(0, 100)%>... <a href="/post/<%= posts._id%>">Read more</a></p>
<% }); %>


<%- include("partials/footer") -%>
