<%- include("partials/header") -%>

<h1>Home</h1>

<p><%=home %></p>

<% console.log(postText); %>
<% postText.forEach(function(post) { %>
   <h1><%= post.title %></h1>
   <p><%= post.details.substring(0, 100)%>... <a href="/post/<%= _.lowerCase(post.title)%>">Read more</a></p>
<% }); %>


<%- include("partials/footer") -%>
